<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>website</title>
</head>
<body>
<h1>Welcome to the analyzer. Enter your text</h1>
<form action="/Analyze", method="get">
    <textarea name="text" style='margin: 0px; width: 908px; height: 87px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuation <br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> New Line Remover <br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover <br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>